/* == RESPONSIVE == */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 994px) {
    nav .nav-container .logo img {
      width: 90px;
      margin: 5px;
    }
  
    .links {
      height: 100vh;
      width: 320px;
      position: fixed;
      top: 0;
      right: -100%;
      display: block;
      padding: 80px 10px 0px;
      transition: all ease 0.5s;
      z-index: 5;
      background-color: var(--grey);
      overflow: auto;
      box-shadow: 2px 2px 12px #00000033;
    }
  
    .links.active {
      right: 0%;
    }
  
    nav .links a {
      width: 100%;
      display: block;
      padding: 20px 20px;
    }
  
    nav .links a.active,
    nav .links a:hover {
      color: var(--active-color);
      transition: all ease 100ms;
      background-color: #ffffff;
    }
  
    .cancel-btn {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      box-shadow: 2px 2px 12px #0e315533;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color);
      font-size: 18px;
      position: absolute;
      top: 12px;
      right: 20px;
    }
  
    .drop-extras-btns {
      justify-content: flex-start;
    }
  
    .menu-bar {
      display: block !important;
    }
  
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
  
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      padding: 4px;
      padding-top: 0px;
      z-index: 1;
    }
  
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .dropdown-extras {
      box-shadow: none;
    }
  
    /* == Banner == */
    .bn-txt-holder h1 {
      text-align: center;
    }
  
    .bn-txt-holder p {
      text-align: center;
    }
  
    .bn-btns {
      margin: auto !important;
      width: fit-content;
    }
  
    .bn-img {
      width: 100%;
      height: 576px;
      max-height: 576px;
      overflow: hidden;
      display: none;
      align-items: center;
      justify-content: center;
    }
  
    .bn-img svg {
      display: none;
    }
  
    .bn-img img {
      width: 100%;
      vertical-align: middle;
    }
  
    /* == || Banner == */
  
    /* == Profile Page == */
    .sv-lg-container {
      justify-content: center;
    }
  
    .side-rgt-card .profile-access {
      width: 100%;
      min-width: 230px;
    }
    /* == Profile Page == */
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    nav {
      height: 88px;
    }
  
    nav .nav-container .logo img {
      padding: 16px 32px;
    }
  
    nav .nav-container .logo img {
      width: 160px;
      height: 100px;
    }
  
    nav .links {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .drop-extras-btns {
      justify-content: flex-start;
    }
  
    .menu-bar {
      display: none !important;
    }
  
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
  
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      top: 20px;
      right: 0px;
      padding: 16px;
      padding-top: 40px;
      z-index: 5;
    }
  
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .dropdown-extras {
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      background-color: var(--white);
    }
  
    .cancel {
      display: none;
    }
  
    /* == Banner == */
    section.banner {
      position: relative;
    }
  
    .bn-img {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 50%;
      height: 576px;
      max-height: 576px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .bn-img svg {
      height: 100%;
      position: absolute;
      left: -288px;
      z-index: 2;
    }
  
    .bn-img img {
      height: 100%;
      width: 100%;
      vertical-align: middle;
      position: relative;
      z-index: 1;
    }
  
    /* == || Banner == */
  
    /* == Profile Page == */
    .sv-lg-container {
      justify-content: flex-start;
    }
  
    .side-rgt-card .profile-access {
      width: 100%;
      min-width: 230px;
      max-width: 240px;
    }
  
    /* == Profile Page == */
  }
  
  /* == || RESPONSIVE == */